body {
    padding: 50px;
    background: wheat;
}
form{
    /* border: 3px solid rgba(0, 0, 0, 0.8); */
    border-radius: 5px;
    padding: 50px 50px 50px 100px;
    width: 360px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
}
#username{
    display: block;
    width: 300px;
    height: 20px;
    margin-bottom: 20px;
}
#password{
    display: block;
    height: 20px;
    width: 300px;
}
#check{
    display: block;
    padding: 10px;
    min-width: 50px;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(157, 196, 121);
}
#check:hover {
    border-bottom: 3px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
}
#check:active {
    background-color: rgb(49, 112, 52);
    color: aliceblue;
}
#display{
    font-family: Helvetica;
    font-size: 1em;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}
.red {
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 20px 0 0 0; 
}
.yellow{
    background-color: yellow;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 20px 0 0 0; 
}
.greenYellow{
    background-color: rgb(148, 216, 47);
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 20px 0 0 0; 
}
.green{
    background-color: green;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 20px 0 0 0; 
}
label{
    font-family: Helvetica;
    font-size: 0.7em;
    margin: 20px 5px 0 5px;
    font-weight: bold;
}